FLASK_APP=authservice
FLASK_DEBUG=1

CORS=1
DEBUG=1

SECRET_KEY=AIzaSyDBeYAiSSD3wW711d69c1137750c8fFCOdba23bea657c5AYlXz-7kyLdPHEN
POSTGRES_URI=postgresql://postgres:postgres@localhost:5432/postgres

JWT_SECRET=hAYJZeFE4KKSmoArOpU1lZBH1uMD3w
JAEGER_PORT=6831

DEFAULT_PASSWORD = "pbkdf2:sha256:260000$b7u23PYjAurFNk1X$0b9c99540fae83644b598fb9f0e7ab4c271ddb9623b4555655a8550c2121d08f"

VK_APP_ID =
VK_CLIENT_SECRET =
VK_REDIRECT_URI =

TRACER_SERVICE_NAME=authservice